html
  head
    title= title
    link(rel="stylesheet", href="/css/hello.css")
  body
    section.helloworld
      h1#message= message
    footer.info
        p Build Number: #{buildNumber}  Commit: #{shortCommit}
